In [58]:
import pandas as pd

obj11 = pd.Series(['a','b','c','d'], index =[10,11,12,13])
obj11

10    a
11    b
12    c
13    d
dtype: object

In [59]:
import pandas as pd

obj11 = pd.Series(['a','b','c','d'], index =[10,11,12,13])
obj11[10] 
obj22 =pd.Series({"ID":4001,"Name": "Shajia","father Name": "aijaz"})
obj22
obj22.index
obj22.values
obj22.name ="Studentdata"
obj22.index.name = "S No."
obj22

S No.
ID               4001
Name           Shajia
father Name     aijaz
Name: Studentdata, dtype: object

In [57]:
import pandas as pd

obj11 = pd.Series(['a','b','c','d'], index =[10,11,12,13])
obj11[10] = 'z'
obj11

#obj22 =pd.Series({"ID":4001,"Name": "Shajia","father Name": "aijaz"})
#obj22
#obj22.index
#obj22.values
#obj22.name ="Studentdata"
#obj22.index.name = "S No."
#obj22

10    z
11    b
12    c
13    d
dtype: object

In [43]:
frame11 = pd.DataFrame({
    "day":[1,2,3,4,5],
    "temperature":[20,10,15,18,16],
    "windy":[30,40,45,35,50],
    "rainy":[True,False,False,True,False]
    
})
frame11.to_excel("student.xlsx", sheet_name ='sheet1')
frame12 = pd.DataFrame([
    {"day":1,"tem":23,"windy" : 34},
    {"day":2,"tem":33,"windy" : 44},
  
])

frame13 = pd.DataFrame([
    (1,33,23),
    (2,28,48),
    (3,32,43),
], columns=['day','tem','windy'])

frame13

   day  tem  windy
0    1   33     23
1    2   28     48
2    3   32     43

In [60]:
frame11 = pd.DataFrame({
    "day":[1,2,3,4,5],
    "temperature":[20,10,15,18,16],
    "windy":[30,40,45,35,50],
    "rainy":[True,False,False,True,False]
    
})
frame11.to_excel("student.xlsx", sheet_name ='sheet1')
frame12 = pd.DataFrame([
    {"day":1,"tem":23,"windy" : 34},
    {"day":2,"tem":33,"windy" : 44},
  
])

frame13 = pd.DataFrame([
    (1,33,23),
    (2,28,48),
    (3,32,43),
], columns=['day','tem','windy'])

frame13

frame14 = pd.read_excel('weather.xlsx')
frame14
frame15 = pd.read_csv('weather.csv')
frame15

PermissionError: [Errno 13] Permission denied: 'student.xlsx'

In [56]:
frame11 = pd.DataFrame({
    "day":[1,2,3,4,5],
    "temperature":[20,10,15,18,16],
    "windy":[30,40,45,35,50],
    "rainy":[True,False,False,True,False]
    
})
frame11.to_excel("student.xlsx", sheet_name ='sheet1')
frame12 = pd.DataFrame([
    {"day":1,"tem":23,"windy" : 34},
    {"day":2,"tem":33,"windy" : 44},
  
])

frame13 = pd.DataFrame([
    (1,33,23),
    (2,28,48),
    (3,32,43),
], columns=['day','tem','windy'])

frame13

frame11 = pd.read_excel('C:\Users\med17\student.xlsx')

frame11[['windy','temperature']]
frame11.index
frame.head(3)
frame.tail(1)
frame.columns
frame['celsius'].max()
frame['celsius'].min()
frame['celsius'].mean()
frame14.play
frame14.describe()
frame14.loc[4]
frame.T
frame14[['celsius','temperature']][frame14['windy'] == True]
frame14[frame14['celsius'] > 21]
frame14['temperature']
frame14[frame14['temperature'] == 'hot']
frame14.shape
row,column = frame14.shape
frame14.sort_values(by='celsius')

frame14[4:7]
frame14[6:]
frame14[:6]
frame14[-5:-1]
frame14.loc[4]

frame31= pd.DataFrame(np.random.randn(4,4), index=pd.date_range)

frame31= pd.DataFrame(np.random.randn(4,4), index=pd.date_range)
result
print(frame31 + frame32)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-56-60d3ad771b09>, line 23)